<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">Interesting Stuff about me, Glenn Flower</h1>
                <img class="Glenn" src="views\content\images\man.jpg">
                <p>An avid believer that technology can and will make our lives better, I say we start building the future we dream of today. Studying computer and environmental sciences brought me to the realization that the tools to build or dreams already exist. Hence I have started some projects to help the world any way I can and to show others that they too can make an impact.</p>            </div>
    </div>
</div>

    