<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">Welcome to my Site!</h1>

                <h2>We can all change the world with our technology.</h2>
                
                <div id="progressBar"></div>
            </div>
    </div>
</div>
