<!-- contact.ejs -->
<!-- Hamza Khan 100709587 --> 
<!-- Date Completed: 04/04/2020 -->

<!-- Main Content -->
<div class="row">
    <div class="col">
          <div class="jumbotron" id="contentArea">
              <h1 class="display-4">Interesting Projects!</h1>
              <div class="card" style="width: 18rem;">
                <!-- Image from stock image online -->
                <img class="card-img-top" src="https://thumbs.dreamstime.com/b/honey-bird-18645208.jpg">
                <div class="card-body">
                  <h5 class="card-title">Biomimicry For All</h5>
                  <p class="card-text">Work with a team to develop a modeling software based on the idea of Biomimicry.</p>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <!-- Image from the Borderland 3 wiki -->
                <img class="card-img-top" src="https://vignette.wikia.nocookie.net/borderlands/images/a/a8/Wildlife_Exploitation_Preserve_Map.png/revision/latest?cb=20171008003646">
                <div class="card-body">
                  <h5 class="card-title">Where is the Furball</h5>
                  <p class="card-text">Helped develop an animal tracking system for use in animal preserves and zoos.</p>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <!-- Image from stock image online -->
                <img class="card-img-top" src="https://thumbs.dreamstime.com/b/plastic-pollution-ocean-turtle-eat-plastic-bag-environmental-problem-plastic-pollution-ocean-turtle-eat-plastic-bag-140820370.jpg">
                <div class="card-body">
                  <h5 class="card-title">Inquinamento Oplosser (Pollution Solver)</h5>
                  <p class="card-text">Currently I am working with a multi national team to develop a software capable of tracking ocean currents and any pollution being carried by them.</p>
                </div>
              </div>
          </div>
    </div>
</div>

