<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">An Interesting List of my Services</h1>
                <ul>
                    <li>Web development</li>
                    <li>Software Development</li>
                    <li>GPS tracking tecknology</li>
                    <li>Statistical analysis modeling</li>
                    <li>Data Managment Software development</li>
                    <li>Database development</li>
                  </ul>
            </div>
    </div>
</div>

